<%= render partial: "shared/errors", locals: {object: @assessment} %>

<%= form_for [@resident, assessment] do |f| %>
  <p>
    <b>Assessment Date</b><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <b>Chair Stand</b><br>
    <%= f.number_field :chair_stand %>
  </p>
  <p>
    <b>Arm Curl</b><br>
    <%= f.number_field :arm_curl %>
  </p>
  <p>
    <b>Two Minute Step</b><br>
    <%= f.number_field :two_minute_step %>
  </p>
  <p>
    <b>Sit and Reach</b><br>
    <%= f.number_field :sit_and_reach, :step => 0.01 %>
  </p>
  <p>
    <b>Back Scratch</b><br>
    <%= f.number_field :back_scratch, :step => 0.01  %>
  </p>
  <p>
    <b>Eight Foot Up and Go</b><br>
    <%= f.number_field :eight_foot_up_and_go, :step => 0.01  %>
  </p>
  <p>
    <%= f.submit class: "btn btn-success" %>
  </p>
<% end %>
