<%= render partial: "shared/errors", locals: {object: @assessor} %>

<%= form_for(assessor) do |f| %>
  <% for community in @communities %>
    <div>
      <%= check_box_tag "assessor[community_ids][]", community.id, @assessor.communities.include?(community) %>
      <%= community.name %>
    </div>
  <% end %>
  </p>
  <p>
    <%= f.submit class: "btn btn-success" %> <%= link_to "Cancel", :back, class: "btn btn-primary" %>
  </p>
<% end %>
