<h2>Please Log In to Continue</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p>
    <%= f.label :email %>:
    <%= f.email_field :email, autofocus: true %>
  </p>

  <p>
    <%= f.label :password %>:
    <%= f.password_field :password, autocomplete: "off" %>
  </p>

  <% if devise_mapping.rememberable? -%>
    <p>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </p>
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <p>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </p>
  <% end %>

  <p>
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </p>
<% end %>

