<%= render partial: "shared/errors", locals: {object: @resident} %>

<%= form_for [@community, resident] do |f| %>
  <p>
    <%= f.label :first_name %>:
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %>:
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :birthdate, 'Birthdate (YYYY-MM-DD):' %>
    <%= f.text_field :birthdate %>
  </p>
  <p>
    <%= f.label :gender %>
    <%= f.select :gender, %w{ male female }, :prompt => "Gender..." %>
  </p>
  <p>
    <%= f.label :address1, "Address" %>:
    <%= f.text_field :address1 %>
  </p>
  <p>
    <%= f.label :address2, "Unit or Apt #" %>:
    <%= f.text_field :address2 %>
  </p>
  <p>
    <%= f.label :city %>:
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %>:
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip, "Zipcode" %>:
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :phone, "Phone Number" %>:
    <%= f.text_field :phone %>
  </p>

  <hr>
  <%= f.submit "Save Changes", class: "btn btn-success" %> <%= link_to "Cancel", :back, class: "btn btn-primary" %>
<% end %>
