<%= render partial: "errors" %>

<%= form_for [@community, resident] do |f| %>
  <p>
    <b>Resident Name</b><br>
    <%= f.text_field :name %>
  </p>
  <%= f.fields_for :user do |u| %>
    <p>
      <b>Resident Email</b><br>
      <%= u.email_field :email %>
    </p>
    <p>
      <b>Resident Password</b><br>
      <%= u.password_field :password %>
    </p>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
