<h1>Edit Resident</h1>
<%= render partial: "form", locals: {resident: @resident} %>
<br>
<%= link_to "Delete this Resident", resident_path(@resident), method: :delete, data: { confirm: "Are You Sure?" }, class: "btn btn-warning" %>
<% if @resident.user %>
  <%= link_to "Edit login info", edit_resident_login_path(@resident), class: "btn btn-primary" %>
<% else %>
  <%= link_to "Add resident login", new_resident_login_path(@resident), class: "btn btn-primary" %>
<% end %>
<% if policy(:resident).make_assessor? %>
  <% unless @resident.is_assessor? %>
    <%= link_to "Make this Resident an Assessor", resident_make_assessor_path(@resident), method: :put, data: { confirm: "Are You Sure?" }, class: "btn btn-warning" %>
  <% end %>
<% end %>
