<H2>Resident: <%= @resident.name %></H2>
<p>birthdate: <%= @resident.birthdate %> (Age: <%= age(@resident.birthdate) %> )</p>
<p>community: <%= link_to @resident.community.name, community_path(@resident.community) %></p>
<%= link_to "Edit Resident Details", edit_resident_path(@resident) %>

<H2>Assessments:</H2>
<p><%= link_to "Add a new Assessment", new_resident_assessment_path(@resident) %></p>
<% @resident.assessments.each do |assessment| %>
  <p><%= link_to assessment.date, assessment %></p>
<% end %>
<% if @resident.user %>
  <H3>Login Info:</H3>
  <p>email: <%= @resident.user.email %></p>
  <p><%= link_to "Edit login info", edit_resident_login_path(@resident) %></p>
<% else %>
  <H3>This resident does not have a login</H3>
  <p><%= link_to "Add resident login", new_resident_login_path(@resident) %></p>
<% end %>
<%= link_to "Delete this Resident", resident_path(@resident), method: :delete, data: { confirm: "Are You Sure?" } %>
