<H2>Resident:</H2>
<p>name: <%= @resident.name %></p>
<% if @resident.user %>
  <p>email: <%= @resident.user.email %></p>
<% end %>
<p>community: <%= link_to @resident.community.name, community_path(@resident.community) %></p>
<%= link_to "Edit Resident Details", edit_resident_path(@resident) %>

<H2>Assessments:</H2>
<%= link_to "Add a new Assessment", new_resident_assessment_path(@resident) %>
<% @resident.assessments.each do |assessment| %>
  <% link_to assessment.date, assessment %>
<% end %>
