<%= render partial: "shared/errors", locals: {object: @community} %>

<%= form_for(community) do |f| %>
  <p>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :city %>:
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %>:
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.submit class: "btn btn-success"  %><%= link_to "Cancel", :back, class: "btn btn-primary" %>
  </p>
<% end %>
