<h1><%= @community.name %></h1>
<h2><%= @community.city %>, <%= @community.state %></h2>
<hr>
<H2>Residents:</H2>
<% @residents.each do |resident| %>
  <li>
    <%= link_to resident.name, resident_path(resident) %>
  </li>
<% end %>
<%= link_to "Add a Resdient", new_community_resident_path(@community), class: "btn btn-success"  %>
<hr>
<H2>Assessors:</H2>
<% @community.assessors.each do |assessor| %>
  <li>
    <%= link_to assessor.name, assessor_path(assessor) %>
  </li>
<% end %>
<hr>
