<h1><%= @community.name %></h1>
<h2><%= @community.city %>, <%= @community.state %></h2>
<hr>
<H2>Residents:</H2>
<table id='resident-table' class='cell-border table table-striped table-bordered' cellspacing='0' width='100%'>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.first_name %></td>
        <td><%= resident.last_name %></td>
        <td><%= link_to 'Show', resident_path(resident),  class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add a Resdient", new_community_resident_path(@community), class: "btn btn-success"  %>
<hr>
<H2>Assessors:</H2>
<% @community.assessors.each do |assessor| %>
  <li>
    <%= link_to assessor.name, assessor_path(assessor) %>
  </li>
<% end %>
<hr>

<script type="text/javascript">
$(document).ready(function(){
  $('#resident-table').DataTable({
    "pageLength": 15,
    "lengthMenu": [ [10, 15, 25, 50, -1], [10, 15, 25, 50, "All"] ],
    "order": [[ 1, "asc" ]],
    "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [ 2 ] }]  });
});
</script>
