<!DOCTYPE html>
<html>
<head>
  <title>Senior Fit Test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 vcenter text-primary" >
      <H1>Senior Fit Test</H1>
    </div>
    <div class="col-md-6 vcenter">
      <%= image_tag "van_logo.png", style: "padding: 16px" %>
    </div>
  </div>
  <% unless flash.empty? %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <hr>
  <% end %>
  <%= yield %>
  <% unless controller_name == "sessions" %>
    <hr>
    <ul class="hmenu">
      <%= render 'devise/menu/login_items' %>
    </ul>
    <hr>
  <% end %>
</div>
</body>
</html>
