<!DOCTYPE html>
<html>
<head>
  <title>Senior Fit Test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <H1>Senior Fit Test</H1>
  <% unless flash.empty? %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <hr>
  <% end %>
  <%= yield %>
  <hr>
  <ul class="hmenu">
    <%= render 'devise/menu/login_items' %>
  </ul>
  <hr>
</div>
</body>
</html>
